.sidebar{
    width: 100%;
    
    .sidebar__content{
        background: blue;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 99;
        transition: all .5s;

        @media (min-width: 768px){
            position: initial;
        }

        .sidebar__content__header{
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6rem 0.7rem;
        
            h6{
                margin: 0;
                color: white;
            }
            
            a{
                color: white;
                text-decoration: none;
            }
        }

        .sidebar__content__icon-arrow{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);

            @media (min-width: 768px){
                display: none;
            }

            i{
                color: white;
                font-size: 2rem;
            }
        }
        
    }
}

.hidden-menu{
    top: -100vh;
}

.show-menu{
    top: 0;
}