.patients__content{
    overflow: scroll;

    @media (min-width: 1024px){
        overflow: inherit;
    }
    
    
    h1{
        position: fixed;
        right: 50%;
        transform: translate(50%, 10px);

        @media (min-width: 1024px){
            position: initial;
            right: 0;
            transform: none;
            text-align: center;
        }
    }

    table{
        width: 750px;
        margin-top: 3rem;

        @media (min-width: 900px){
            width: 100%;
        }
    }
}