.patients__content{
    
    overflow-x: scroll;

    @media (min-width: 768px){
        height: 90vh;
    }

    h1{
        text-align: center;
        margin: 1rem 0;
    }

    table{
        width: 750px;
        margin-top: 2rem;

        i{
            color: black;
            cursor: pointer;
        }

        @media (min-width: 900px){
            width: 100%;
        }
    }
}