
.login,
.register{
    width: 100%;
    height: 100vh;
    background-image: urL(../../assets/images/background.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px){
        background-image: url(../../assets/images/background-desktop.jpg);
    }

    &::before{
        width: 100%;
        height: 100vh;
        content: "";
        position: absolute;
        background: #6262627a;
        backdrop-filter: blur(2px);
    }
}
